@page "/"

<PageTitle>Queue</PageTitle>

<h1>🗄️Queue</h1>



<menu>
    <li>
        <button>Add Media</button>
        <menu>
            <li>
                <button>From Web</button>
            </li>
        </menu>
    </li>
    
</menu>