@page "/"

<PageTitle>Queue</PageTitle>

<style>
    menu > * > * > *,
    .menu > * > * > * {
        display: none;
    }

    menu > *:hover > * > *,
    .menu > *:hover > * > * {
        display: unset;
    }

    menu, .menu {
        display: flex;
        list-style: none;
    }

    .menu_button {
        background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
        color: white;
        border: none;
    }

</style>

<h1>🗄️Queue</h1>

<menu class="menu_top">
    <li>
        <button class="menu_button">🗃️File</button>
        <menu>
            <li>
                <button class="menu_button" @onclick="NewMenu">📄New</button>
            </li>
            <li>
                <button class="menu_button">📂Open</button>
                <menu>
                    <li>
                        <button class="menu_button" @onclick="OpenMenu_Text">
                            📖From Text
                            <br />
                            <p>
                                Text: <input type="text" @bind="@OpenMenu_Text_Text" />
                            </p>
                        </button>
                    </li>
                </menu>
            </li>
            <li>
                <button class="menu_button">💾Save</button>
                <menu>
                    <li>
                        <button class="menu_button" @onclick="SaveMenu_Text">
                            📖From Text
                            <br />
                            <p>
                                Text: <input type="text" @bind="@SaveMenu_Text_Text" />
                            </p>
                        </button>
                    </li>
                </menu>
            </li>
        </menu>
    </li>
    <li>
        <button class="menu_button">🗄️Queue</button>
        <menu>
            <li>
                <button class="menu_button">➕Add Media</button>
                <menu>
                    <li>
                        <button class="menu_button" @onclick="AddMenu_Web">
                            🌐From Web
                            <br />
                            <p>
                                URL: <input type="text" @bind="@AddMenu_Web_URL" />
                            </p>
                        </button>
                    </li>
                </menu>
            </li>
            <li>
                <button class="menu_button" @onclick="ClearMenu">🗑️Clear</button>
            </li>
        </menu>
    </li>
    <li>
        <button class="menu_button" @onclick="PlayMenu">▶️Play</button>
    </li>
</menu>
<div>
    <div>
        <ul>
            <li>
                @Queue
            </li>
        </ul>
    </div>
</div>

<iframe src="@Queue_URL"></iframe>

@code {
    string OpenMenu_Text_Text;
    string SaveMenu_Text_Text;
    string AddMenu_Web_URL;
    string Queue = "about:blank";
    string Queue_URL = "about:blank";

    void AddMenu_Web()
    {
        Queue = AddMenu_Web_URL;
    }
    void ClearMenu()
    {
        Queue = "about:blank";
    }
    void PlayMenu()
    {
        Queue_URL = Queue;
    }
    void NewMenu()
    {
        Queue = "about:blank";
    }
    void OpenMenu_Text()
    {
        Queue = m3u_Decompilation(OpenMenu_Text_Text);
    }
    void SaveMenu_Text()
    {
        SaveMenu_Text_Text = m3u_Compilation(Queue);
    }
    string m3u_Compilation(string m3uText)
    {
        return m3uText;
    }
    string m3u_Decompilation(string m3uText)
    {
        return m3uText;
    }
}