@page "/"

<PageTitle>Queue</PageTitle>

<style>
    menu > * > * > *,
    .menu > * > * > * {
        display: none;
    }

    menu > *:hover > * > *,
    .menu > *:hover > * > * {
        display: unset;
    }

    menu, .menu {
        display: flex;
        list-style: none;
    }

    .menu_button {
        background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
        color: white;
        border: none;
    }
</style>

<h1>🗄️Queue</h1>



<menu>
    <li>
        <button class="menu_button">➕Add Media</button>
        <menu>
            <li>
                <button class="menu_button" onclick="AddMenu_Web">
                    🌐From Web
                    <input type="text" @bind="@AddMenu_Web_URL" />
                </button>
            </li>
        </menu>
    </li>
    <li>
        <button class="menu_button">❌Clear</button>
    </li>
</menu>


@code {
    string AddMenu_Web_URL;

    List<string> QueueList;

    void AddMenu_Web()
    {
        QueueList.Add(AddMenu_Web_URL);
        AddMenu_Web_URL = QueueList;
    }
}